{% extends 'base-testing.html' %}

{% block title %}
    Читаем
{% endblock %}

{% block main %}
    {% load static %}
    <div class="content-container">
        {% if all_articles %}
            {% for article in all_articles %}
                <a href="{% url 'read_article'  article.id %}">
                    <div class="content">
                        {% if article.header_image %}
                            <img src="{{ MEDIA_URL }}{{ article.header_image }}" alt="header image">
                        {% else %}
                            <img src="{% static 'icons/new_info.jpg' %}" alt="no image">
                        {% endif %}
                        <p>{{ article.title }}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <img src="{% static 'icons/no_content_1.gif' %}" id="no-content" alt="no image">
        {% endif %}
    </div>
{% endblock %}