{% extends 'base-testing.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block main %}
    {% load tags %}
    <div class="content-container">
        <div class="article">
            <h1 id="article-title">{{ article.title }}</h1>
            <p style="text-align: left; font-size: 13px">{{ article.created }}</p>
            {% if article.header_image %}
                <img src="{{ MEDIA_URL }}{{ article.header_image }}" style="width: 100%" alt="header image">
            {% endif %}
            {% for paragraph in article.paragraph.all %}
                <div class="paragraph">
                    {% if paragraph.paragraph_title %}
                        <h3>{{ paragraph.paragraph_title }}</h3>
                    {% endif %}
                    {{ paragraph.text }}
                </div>
                {% for image in paragraph.image.all %}
                    <img src="{{ MEDIA_URL }}{{ image.image }}" alt="image">
                {% endfor %}
                {% for video in paragraph.youtube_video.all %}
                    {% youtube_video_id video.source as video_id %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                {% endfor %}
            {% endfor %}
            {% if article.source %}
                <a href="{{ article.source }}">Источник</a>
            {% endif %}
        </div>
    </div>
{% endblock %}