{% extends 'base-testing.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block main %}
    <div class="content-container">
        <div class="article">
            <h1 id="article-title"><strong>{{ article.title }}</strong></h1>
            <p style="text-align: left; font-size: 13px">{{ article.created }}</p>
            {% if article.header_image %}
                <img src="{{ MEDIA_URL }}{{ article.header_image }}" style="width: 100%" alt="header image">
            {% endif %}
            {% for paragraph in article.paragraph.all %}
                <div class="paragraph">
                    {{ paragraph.text }}
                </div>
                {% for image in paragraph.image.all %}
                    <img src="{{ MEDIA_URL }}{{ image.image }}" alt="image">
                {% endfor %}
            {% endfor %}
            {% if article.source %}
                <a href="{{ article.source }}">Источник</a>
            {% endif %}
        </div>
    </div>
{% endblock %}