{% extends 'base-testing.html' %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
    {% load static %}
    {% if last_articles %}
        <div class="slideshow-container">
            {% for article in last_articles %}
                <a href="{% url 'read_article' article.id %}">
                    <div class="mySlides fade">
                        <div class="numbertext">{{ forloop.counter }}/{{ last_articles.values|length }}</div>
                        {% if article.header_image %}
                            <img src="{{ MEDIA_URL }}{{ article.header_image }}" style="width:100%" alt="header image">
                        {% else %}
                            <img src="{% static 'icons/new_info.jpg' %}" style="width: 100%" alt="no image">
                        {% endif %}
                        <div class="text">{{ article.title }}</div>
                    </div>
                </a>
            {% endfor %}
            <a class="prev" id="glass" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" id="glass" onclick="plusSlides(1)">&#10095;</a>
        </div>
    {% else %}
        <div class="content-container">
            <img src="{% static 'icons/no_content_1.gif' %}" id="no-content" alt="no content">
        </div>
    {% endif %}


    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex-1].style.display = "block";
        }
    </script>

{% endblock %}
