<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый тест</title>
</head>
<body>
    <h1>Новое тестирование уже доступно.</h1>
    <hr>
    <strong><p>Привет, {{ user.username }}!</p></strong>
    <p>Пожалуйста, посети <a href="https://corporate-portal.herokuapp.com">Корпоративный портал обучения</a> до <strong>{{ test.date_expired }}</strong>
        для прохождения тестироания на тему <strong>{{ test.test_case.title }}</strong>.</p>
    Есть вопрос? Задай прямо в ответном письме!
</body>
</html>
