{% extends 'base-testing.html' %}

{% block title %}
    Вопрос {{ questions.number }} из {{ questions.paginator.num_pages }}
{% endblock %}

{% block main %}

    <form method="post">
        {% csrf_token %}
        {% if time_left %}
            <div id="countdown"></div>
        {% endif %}
        {% for question in questions.object_list %}

            Вопрос {{ questions.number }} из {{ questions.paginator.num_pages }}<br>
            {{ question.text }}<hr>
            <input type="hidden" value="{{ question.id }}" name="question">

            {% for answer in question.answer.all %}
                <label class="answer-type-container">{{ answer.text }}
                    <input type="{{ question.answer_type }}" name="answer" value="{{ answer.id }}">
                    <span class="checkmark"></span>
                </label>
            {% endfor %}

        {% endfor %}
        <div class="next-question">
            {% if questions.has_next %}
                <input type="hidden" value="{{ questions.next_page_number }}" name="page">
                <input type="submit" value="Далее">
            {% else %}
                <input type="submit" value="Закончить тест" name="complete">
            {% endif %}
        </div>
    </form>

    <script>
        var timeleft = {{ time_left }};
        var downloadTimer = setInterval(function() {
            timeleft -= 1;

            var hours = Math.floor((timeleft / 3600) % 24);
            var minutes = Math.floor((timeleft / 60) % 60);
            var seconds = Math.floor(timeleft % 60);

            document.getElementById("countdown").innerHTML = hours + "ч " + minutes + "м " + seconds + "с ";

            if (timeleft <= 0) {
                clearInterval(downloadTimer);
                document.getElementById("countdown").innerHTML = "Время вышло"
            }
        }, 1000);
    </script>

{% endblock %}