{% extends 'base-testing.html' %}

{% block title %}
    Вопрос {{ questions.number }} из {{ questions.paginator.num_pages }}
{% endblock %}

{% block main %}
    <div class="test-frame" id="glass">
        <form method="post">
            {% csrf_token %}
            {% if time_left %}
                <div id="countdown"></div>
            {% endif %}
            <div class="question">
                {% for question in questions.object_list %}
                    <p id="test-info">Вопрос {{ questions.number }} из {{ questions.paginator.num_pages }}</p>
                    <h1>{{ question.text }}</h1>
                    <input type="hidden" value="{{ question.id }}" name="question">
                    {% for answer in question.answer.all %}
                        <label class="answer-container">{{ answer.text }}
                            {% if  question.answer_type == 'checkbox' %}
                                <input type="checkbox" name="answer" value="{{ answer.id }}">
                                <span class="checkmark"></span>
                            {% else %}
                                <input type="radio" name="answer" value="{{ answer.id }}">
                                <span class="radiomark"></span>
                            {% endif %}
                        </label>
                    {% endfor %}
                {% endfor %}
                {% if questions.has_next %}
                    <input type="hidden" value="{{ questions.next_page_number }}" name="page">
                    <input type="submit" id="glass" value="Далее">
                {% else %}
                    <input type="submit" id="glass" value="Закончить тест" name="complete">
                {% endif %}
            </div>
        </form>
    </div>
    <script>
        timer = document.getElementById("countdown");

        var timeleft = {{ time_left }};

        var downloadTimer = setInterval(function() {
            timeleft -= 1;

            var hours = Math.floor((timeleft / 3600) % 24);
            var minutes = Math.floor((timeleft / 60) % 60);
            var seconds = Math.floor(timeleft % 60);

            timer.innerHTML = hours + "ч " + minutes + "м " + seconds + "с ";

            if (timeleft <= 30) {
                timer.style.color = "red";
            } else {
                timer.style.color = "rgba(0, 0, 0, 0.5)"
            }

            if (timeleft <= 0) {
                clearInterval(downloadTimer);
                timer.innerHTML = "Время вышло"
            }
        }, 1000);
    </script>

{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% if time_left %}#}
{#            <div id="countdown"></div>#}
{#        {% endif %}#}
{#        {% for question in questions.object_list %}#}
{##}
{#            Вопрос {{ questions.number }} из {{ questions.paginator.num_pages }}<br>#}
{#            {{ question.text }}<hr>#}
{#            <input type="hidden" value="{{ question.id }}" name="question">#}
{##}
{#            {% for answer in question.answer.all %}#}
{#                <label class="answer-type-container">{{ answer.text }}#}
{#                    <input type="{{ question.answer_type }}" name="answer" value="{{ answer.id }}">#}
{#                    <span class="checkmark"></span>#}
{#                </label>#}
{#            {% endfor %}#}
{##}
{#        {% endfor %}#}
{#        <div class="next-question">#}
{#            {% if questions.has_next %}#}
{#                <input type="hidden" value="{{ questions.next_page_number }}" name="page">#}
{#                <input type="submit" value="Далее">#}
{#            {% else %}#}
{#                <input type="submit" value="Закончить тест" name="complete">#}
{#            {% endif %}#}
{#        </div>#}
{#    </form>#}
{##}
{#    <script>#}
{#        var timeleft = {{ time_left }};#}
{#        var downloadTimer = setInterval(function() {#}
{#            timeleft -= 1;#}
{##}
{#            var hours = Math.floor((timeleft / 3600) % 24);#}
{#            var minutes = Math.floor((timeleft / 60) % 60);#}
{#            var seconds = Math.floor(timeleft % 60);#}
{##}
{#            document.getElementById("countdown").innerHTML = hours + "ч " + minutes + "м " + seconds + "с ";#}
{##}
{#            if (timeleft <= 0) {#}
{#                clearInterval(downloadTimer);#}
{#                document.getElementById("countdown").innerHTML = "Время вышло"#}
{#            }#}
{#        }, 1000);#}
{#    </script>#}

{% endblock %}