{% extends 'base-testing.html' %}

{% block title %}
    Проверяем знания...
{% endblock %}

{% block main %}
    {% load static %}
    {% if user_test_cases %}
        <table id="content-table-1" style="border: 3px outset lightskyblue">
            <tr>
                <th>Название</th>
                <th>Проходной балл</th>
                <th>Описание</th>
                <th>Пройти до</th>
            </tr>
            {% for test_case in user_test_cases %}
                <tr>
                    <td><strong><a href="{% url 'test_case' test_case.id test_case.test_case.id %}">{{ test_case.test_case }}</a></strong></td>
                    <td>{{ test_case.target_score }}</td>
                    <td>{{ test_case.test_case.description }}</td>
                    <td>{{ test_case.date_expired }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="nothing-to-show-message">
            <div><img src="{% static 'icons/nothing_to_show.png' %}"></div>
        </div>
    {% endif %}

{% endblock %}