{% extends 'base-testing.html' %}

{% block title %}
    Доступные тесты
{% endblock %}

{% block main %}
    {% load static %}
    <div class="content-container">
        {% if user_test_cases %}
            <table class="table-content">
                <tr id="head-table">
                    <th>Название</th>
                    <th>Проходной балл</th>
                    <th>Описание</th>
                    <th>Активен до</th>
                </tr>
                {% for test_case in user_test_cases %}
                    <tr id="rows">
                        <td><strong><a href="{% url 'test_case' test_case.id test_case.test_case.id %}">{{ test_case.test_case }}</a></strong></td>
                        <td>{{ test_case.target_score }}</td>
                        <td>{{ test_case.test_case.description }}</td>
                        <td>{{ test_case.date_expired }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <img src="{% static 'icons/no_content_1.gif' %}" id="no-content" alt="no image">
        {% endif %}
    </div>

{% endblock %}