* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right top, #fcf8a5, #60ddfc);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#glass {
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
    backdrop-filter: blur(7px);
}

.circle1, .circle2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.navbar {
    width: 1000pt;
    height: 65pt;
    margin-top: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    height: 80%;
    width: 97%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.search {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#nav-link {
    height: 100%;
    text-align: center;
}

#logo {
    width: 20%;
}

.search form {
    width: 100%;
}

.search form input[type=search] {
    background: none;
    border: 2px rgba(255, 255, 255, 0.6) solid;
    font-size: 20px;;
    text-align: left;
    padding: 10px 10px;
}

.search form input[type=search]:focus-within {
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(252, 248, 165, 0.5));
}

.nav-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item a:hover {
    font-size: 30px;
    background: -webkit-linear-gradient(#373737, #4cff24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item a img {
    position: relative;
    width: 100%;
    height: auto;
}

.nav-item a img:hover {
    width: 120%;
}

.main {
    width: 1000pt;
    height: 560pt;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    height: 95%;
    width: 97%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#myBtn {*/
/*    display: block; !* Hidden by default *!*/
/*    position: fixed; !* Fixed/sticky position *!*/
/*    bottom: 30px; !* Place the button at the bottom of the page *!*/
/*    right: 50px; !* Place the button 30px from the right *!*/
/*    z-index: 99; !* Make sure it does not overlap *!*/
/*    border: none; !* Remove borders *!*/
/*    outline: none; !* Remove outline *!*/
/*    background-color: rgb(76, 176, 243); !* Set a background color *!*/
/*    color: white; !* Text color *!*/
/*    cursor: pointer; !* Add a mouse pointer on hover *!*/
/*    padding: 15px; !* Some padding *!*/
/*    border-radius: 15px; !* Rounded corners *!*/
/*    font-size: 18px; !* Increase font size *!*/
/*}*/

/*#myBtn:hover {*/
/*    background-color: #3978e5; !* Add background on hover *!*/
/*}*/

.footer {
    margin-top: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer a {
    position: relative;
    top: 0;
}

.footer a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(76, 176, 243);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    background-color: white;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-right: 20px;
}

.prev {
    margin-left: 20px;
}

.prev:hover, .next:hover {
    color: #3978e5;
}

/* Caption text */
.text {
    font-size: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 22px 16px;
    color: #333333;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
    backdrop-filter: blur(7px);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.content-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.content-container a {
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.content-container a:hover {
    font-size: 40px;
    text-justify: auto;
    color: rgba(0, 0, 0, 0.9);
}

.content-container #no-content {
    position: absolute;
    bottom: 0;
}

.content {
    height: 130pt;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(250, 255, 255, 0.8));
    border-radius: 20px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    backdrop-filter: blur(1px);
    text-align: justify;
    text-justify: inter-word;
}

.content:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(250, 255, 255, 0.1));
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
}

.content img {
    height: 130pt;
    width: 230pt;
    float: left;
    margin-right: 10px;
}

.article {
    width: 70%;
    margin: auto;
}

.article a {
    text-decoration: none;
    font-size: 15px;
}

.article a:hover {
    font-size: 20px;
    background: -webkit-linear-gradient(#373737, #4cff24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article h1 {
    text-align: justify;
    text-justify: inter-word;
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 10px;
}

.paragraph {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table-content {
    width: 100%;
    height: auto;
    margin: auto;
    overflow-y: auto;
    border-collapse: collapse;
}

#head-table {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    z-index: 3;
    backdrop-filter: blur(7px);
    font-size: 25px;
}

.table-content td {
    font-size: x-large;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
}

#rows {
    background: rgba(255, 255, 255, 0.4);
}

#rows:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(250, 255, 255, 0.1));
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
}

#rows a {
    font-size: 25px;
}

#rows td {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 10px;
}

.test-frame {
    padding: 20px;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: left;
    position: relative;
    left: 0;
    text-align: center;
    overflow-y: auto;
}

.test-frame h1 {
    font-size: 35px;
    background: -webkit-linear-gradient(#343434, #5d5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.test-frame p {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 35px;
    text-align: left;
}

#test-info {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}


.test-frame input[type=submit] {
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.5);
}

.test-frame input[type=submit]:hover {
    font-size: 35px;
    color: #35a925;
    cursor: pointer;
}

#countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    backdrop-filter: blur(7px);
    text-align: center;
}

.question {
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

/* Customize the label (the container) */
.answer-container {
    display: block;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.answer-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.answer-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.answer-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.answer-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.answer-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Create a custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.answer-container:hover input ~ .radiomark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.answer-container input:checked ~ .radiomark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.answer-container input:checked ~ .radiomark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.answer-container .radiomark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

