{% extends 'base-users.html' %}

{% block title %}
    Форма Логина
{% endblock %}

{% block content %}

{% load socialaccount %}
    <h2>Логин через Google форму</h2>
    <a href="{% provider_login_url 'google' %}">Логин при помощи Google</a>

    <h2>Или логин при помощи стандартногой формы</h2>

    <form method="POST" action="">
        {% csrf_token %}
        <label for="fname">Логин:</label><br>
        <input type="text" name="username" placeholder="Username" class="form-control"><br><br>
        <label for="password">Пароль:</label><br>
        <input type="password" name="password" placeholder="Password" class="form-control"><br><br>
        <input type="submit" value="Логин"><br><br>

        Не имеете аккаунт для логина? <a href="{% url 'register' %}">Зарегистрироваться</a><br>

            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}

    <form/>


{% endblock %}