{% extends 'base-users.html' %}

{% block main %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Возобновить пароль</legend>
                {{ password_reset_form }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Отправить запрос для получения нового пароля</button>
            </div>
            {% for message in messages %}
                    <b><p id="messages">{{ message }}</p><b/>
            {% endfor %}

        </form>
    </div>
{% endblock %}