{% extends 'base-users.html' %}

{% block main %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Изменить пароль</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}