{% extends 'base-testing.html' %}

{% block main %}
    {% load crispy_forms_filters %}
    {% load crispy_forms_tags %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Изменить пароль</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}