{% extends 'base-testing.html' %}

{% block title %} Изменить пароль {% endblock %}

{% block main %}

    <form method="POST">
        <h3 align="center">Используйте данную форму для изменения пароля</h3>
        <br>
        {% for foo in form %}
            <b>{{ foo.label }}:</b><br>
            {{ foo }}<br>
            {{ foo.help_text }}
           <h2> {{ foo.errors }}</h2>

        {% endfor %}

        <p><input type="submit" value="Изменить"></p>
        {% csrf_token %}
    </form>


{% endblock %}