{% extends 'base-users.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}

    <h3>Зарегистрировать новый аккаунт</h3>
    <form method="POST" action=""> {% csrf_token %}
        {{ form.username.label }} {{ form.username }}<br><br>
        {{ form.email.label }} {{ form.email }}<br><br>
        {{ form.password1.label }} {{ form.password1 }}<br><br>
        {{ form.password2.label }} {{ form.password2 }}<br><br><br>

        <input type="submit" value="Создать новый аккаунт"><br><br>
        {{ form.errors }}

        Уже есть зарегистрированный аккаунт? <a href="{% url 'login' %}">Логин</a>
    </form>

{% endblock %}