{% extends 'base-users.html' %}
<title>Register Account</title>

{% block content %}

    <h3>REGISTER ACCOUNT</h3>
    <form method="POST" action=""> {% csrf_token %}
        {{ form.username.label }} {{ form.username }}<br>
        {{ form.email.label }} {{ form.email }}<br>
        {{ form.password1.label }} {{ form.password1 }}<br>
        {{ form.password2.label }} {{ form.password2 }}<br><br>

        <input type="submit" name="Create user"><br><br>
        {{ form.errors }}

        Already have an account? <a href="{% url 'login' %}">Login</a>
    </form>

{% endblock %}