{% extends 'main.html'%}

<title>Login</title>

{% block content %}
    <h3>LOGIN</h3>
<form method="POST" action=""> {% csrf_token %}
    Login <input type="text" name="username" placeholder="Username" class="form-control"> <br>
    Password <input type="password" name="password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Login"><br><br>
    Don't have an account? <a href="{% url 'register' %}">Sign Up</a>

    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
<form/>

{% endblock %}