<!doctype html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar" id="glass">
        <div class="navbar-content">
            <span class="nav-item" id="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'icons/portal-logo.png' %}">
                </a>
            </span>
            <span class="search" id="nav-link">
                <form method="get" action="{% url 'search' %}">
                    <input type="search" placeholder="Поиск" name="search">
                </form>
            </span>
            <span class="nav-item" id="nav-link">
                <a href="{% url 'all_news' %}">Новости</a>
            </span>
            <span class="nav-item" id="nav-link">
                <a href="{% url 'library' %}">Библиотека</a>
            </span>
            <span class="nav-item" id="nav-link">
                <a href="{% url 'user_test_cases' %}">
                    Мои курсы
                    {% number_of_tests user.id as tests %}
                    {% if tests %}
                        ({{ tests }})
                    {% endif %}
                </a>
            </span>
            <span class="nav-item" id="nav-link">
                <a href="{% url 'user' %}">Личный кабинет</a>
            </span>
            <span class="nav-item" id="nav-link">
                <a href="{% url 'logout' %}">Выход {{ user.username }}</a>
            </span>
        </div>
    </div>
    <div class="main" id="glass">
        <div class="main-content">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="footer">
        <a href="https://www.youtube.com/channel/UCN7kHf3JmglGdP9YrNVLE_Q"><img src="{% static 'icons/youtube.png' %}"></a>
        <a href="https://www.facebook.com/geekhub.ck/"><img src="{% static 'icons/fb.png' %}"></a>
        © 2021 GeekHub. All rights reserved
    </div>
</body>
</html>